<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body onload = "removeSpace(x);">
		{{> login}}
		<div id="blur">
		{{> header}}
			<div class="wrapper">
				{{> search}}
				{{> details}}
				{{> wishlist}}
			</div>
		</div>
		<script >
		function removeSpace(x){
			if(x.matches){
				var img = document.getElementById('gameThumb');
				if (document.getElementById('details').contains(img) == false && document.getElementById('list').innerHTML.length == 7)
				{
					document.getElementsByClassName('wishlist')[0].style.cssText = 'grid-column: 1 / 5;grid-row: 2 / 5;';
				}else{
					document.getElementsByClassName('wishlist')[0].style.cssText = 'grid-column: 1 / 5;grid-row: 4 / 7;';
				}

			}else{
				document.getElementsByClassName('wishlist')[0].style.cssText = 'grid-column: 3 / 5;grid-row: 1 / 5;padding:15px;';
			}

		}

			var x = window.matchMedia("(max-width: 800px)");
			x.addListener(removeSpace);
		</script>
	</body>

</html>
